/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --text-color: #353430;
  --header-title-color: #FFC2E6;
  --bg-image: url("../images/cover-image-light.png");
  --bg-color:  #f1b2ce;
  --title-color: #000028;
  --accent-color: rgba(255, 141, 203, 1);
  --menu-color:  #353430;
  --link-color:  #353430;
}


@media (prefers-color-scheme: light) {
  :root {
  --text-color: #353430;
  --header-title-color: #FFC2E6;
  --bg-image: url("../images/cover-image-light.png");
  --bg-color:  #f1b2ce;
  --title-color: #000028;
  --accent-color: rgba(255, 141, 203, 1);
  --menu-color:  #353430;
  --link-color:  #353430;
  }
}